apt-clone
apt-xapian-index
apturl
blinker
Brlapi
certifi
chardet
command-not-found
cryptography
defer
dirspec
future
httplib2
idna
louis
lxml
Mako
MarkupSafe
oauthlib
onboard
oneconf
pexpect
Pillow
piston-mini-client
psutil
ptyprocess
pyasn1
pycrypto
pycups
pycurl
pygobject
PyICU
PyJWT
python-apt
python-debian
python-telegram-bot
python-xapp
pyxdg
reportlab
requests
sessioninstaller
setproctitle
six
system-service
thin-client-config-agent
ubuntu-drivers-common
ufw
urllib3
virtkey
xkit
