python-telegram-bot==13.12
psycopg2-binary==2.9.3
pip
APScheduler
backports.zoneinfo
cachetools
certifi
cffi
charset-normalizer
cryptography
decorator
future
#google-api-core==2.0.1
#google-auth==2.2.1
#google-cloud-dialogflow==2.9.0
#googleapis-common-protos==1.53.0
grpcio
idna
importlib-resources
numpy==1.22.4
packaging
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pyparsing
pytube==11.0.1
pytz
requests
rsa
six
tornado
tzlocal
urllib3
zipp
